<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstlover</key>
	<array>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In the tarrot card reading, the Death card means demolition but in the love triangle tarot reading the death card does not refer to the end of the relationship. With this person you are likely to start a new chapter of your life.  If the relationship is hurting you then this card suggests you to finish the relationship with this person. This person plays an important role in your life to improve your good qualities so it is quite obvious to change yourself.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In love tarot reading the Hermit represents a soft hearted person and in love you can have total faith on this person. This person is very much important in your life as this person can assist you psychologically and also likely to give you good knowledge with good objective at the time of necessity. In fact this person is not likely to engage in long term relationship. if you see that this person is already in the relationship then let him go.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In love this tarot card says that with this person love is not possible. It would be better to form business partnership rather than love relationship. Though love relationship is difficult yet you can have faith on this person. This person demands you to be trustworthy and then only this person can be frank with you. If you want romance and long term relationship with this person then it is essential to have detachment as well as respect between you two. In order to keep the relationship going you must follow certain rules and regulations.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : You really value friendship and love with this person and you need to be frank enough. This person does not like any kind of drama. This person likes to be attached with their own leisure activity. It would be better if you do not take the relationship with this person for granted.   If you want to say something to this person then it is the right time for you to say and please do not nag this person. You can lose this person if you continuously nag.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : The love tarot card reading says you to be faithful with this person. In tarot love it is essential to disclose feelings so try reveal true feelings to this partner. This person is such a person who likes to give rather than to receive. You are also very lucky as this person is very much caring and sympathetic. The style and special treatment of this person is very much appealing so you are likely to get attached with this person to be more familiar. In love relationship betrayal may mislead both of you.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In love triangle this person is extremely lucky for you as this person has all the qualities of a good partner. This person will help you to bring out your best quality that lies hidden in yourself so that you can recognise and disclose to other person. In your time of necessity this individual is likely to stand beside you. This person is basically very friendly but at times this person can be harsh and unfriendly if you are not familiar with the inner self of this person. After triumph over all obstacles if you like thrills then you are not matched with this person.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : If you are a free and fun loving person then you are the right place as in the love tarot reading this person is likely to amuse all the time. The tarot card suggests that this person is quite juvenile in love matter. The match with this person can be good as you need to behave like a child and you must look after this person as a care taker. If you like your life to be thrilling and care free then this person will give happiness and will keep on toes to a great extent.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : You are like an award for this person and will like to trap you in love. In order to trap you the person requires to like the excitement. This person is likely to have strong love for you in his heart. The love relation with this person is likely to grow if you need thrill enthusiasm and impulsiveness from the relationship. If you do not like contest then it would better to leave the contest before you lose out.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In love triangle tarot reading this card tells about strength and authority. This could lead to fight for freedom and will power as you do not like to be captured in your life. This person cannot be the devil at all but can play devilish pranks on you. In fact this person is likely to give every pleasure in your life and this is extremely good for you to relief from all kinds of stress.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : If you are in search of a caring and protective lover then this person the right person for yourself. You can completely rely upon this person. Though this person is the right person for you yet this relationship can be a complicated relationship. But if you want to sustain yourself relationship you need to pay for it. This person is likely to guide you in all spheres of life such as love, financial and health matter.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : This person is a marriage oriented person and likes trouble free but lavish life. This person likes all the good things in their life as the person is extremely imaginative. This person likes to obtain material wealth in their life ignoring all important values of life. The tendency of this person to get wealth can bring hindrances in your love life.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In love triangle tarot reading this card suggests to get detachment from this person as this person had entered in your life because of each other's poor decision in life. You need to rely on this person for supervision, help and awareness. If your relationship is healthy with this person then it would be wise to keep such person around you as a friend or as a lover. It is the right time to find the internal power.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : Traditionally the tarot card The Hierophant is also known as the Pope Card and it refers to the wise teacher. In the love tarot this card is a card of love and passion, and it refers to personal wedding and family life. The presence of this card in your life tells you that you are likely to have strong emotional attachment with your true soul mate as well as stability in your relationship. This card tells you that it is the right time to check all those promises that your partner has taken for you. You will have an extremely romantic life with your partner.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : This person is likely to be ruled by the Moon so this person tends to be shrewd and touchy. Though the person is hypersensitive yet the person tends to hide their feelings. Lack of enthusiasm to talk with this person can lead to chaos and conflict in the relationship. If you want to sustain your relationship then it is important to communicate with this person. It would be better not to carry unsettled and past issues in the relationship.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In the love tarot reading this card suggests that this person is likely to take you back and remind you of someone or something that you missed in your life. This card also tells you that you both are made for each other. In order to maintain the relationship faith is necessary not lust. The love between you both is short lived and is likely to disappear if you both do not belong to each other.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : Though the person is nervous and lacking knowledge of their own ability yet this person has strong will power and eagerness to work for you and relationship. Self reliance and output can be paused. This person is extremely talented either in creating an environment or in maintaining the relationship.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : This person is extremely sympathetic and caring about the worries of others. Due to the nature of this person you will always get a shoulder to cry in your hard times. In the love triangle tarot reading you both are better as friends rather than lovers.  In the partnership with this person you need to be strong enough so that you are not forced to talk about your feelings.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : This person tends to be lucky enough for you as it brings luck and good chances in your life. This person is likely to light up your life with brilliant thoughts and imaginations. This person is completely yours and you must have faith in the lucky stars. Though the love relationship is of short lived with this person yet you must value the good times that you spend together.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : The positive energy of this person is likely to flow in your life so that some of your dreams are fulfilled. With the assistance of this person you will not be stuck in the dark. If you feel insecure then boost up your life with self confidence. This person is not likely to get off the spot light for a long time. Due to the transfer of the positive energy of this person you tend to be the successful person for your lover.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In the love triangle this person tends to be the eye opener for you in your life. This person tends to be the storm who is likely to bring lots of enthusiasm in your life. Due to the presence of this person your life is filled with romance that you cannot imagine. Though your life is filled with cyclone of romance yet it is short lived. Feel indifferently in the cyclone of romance and enjoy the ride.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In the love triangle tarot reading this card suggests that this person wants everything in his life. For this person commitment with the life partner is very much important in their life. Tradition is likely to play the crucial role in their life and this person is likely to pass knowledge to their grand children. The dreams tend to be tremendous if the person is not in good mood. Due to the unfulfilment of this dream there are conflicts and suffering.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : This person can help you to understand yourself a lot whether it is related to the world, relationships, and human behaviour as well as you can learn many things that you never knew from this person. This person plays an important role in your life either as a lover or as a friend. It would be better to keep the love platonic if intense love is not your priority.</string>
		</dict>
	</array>
	<key>secondlover</key>
	<array>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In the tarrot card reading, the Death card means demolition but in the love triangle tarot reading the death card does not refer to the end of the relationship. With this person you are likely to start a new chapter of your life.  If the relationship is hurting you then this card suggests you to finish the relationship with this person. This person plays an important role in your life to improve your good qualities so it is quite obvious to change yourself.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In love tarot reading the Hermit represents a soft hearted person and in love you can have total faith on this person. This person is very much important in your life as this person can assist you psychologically and also likely to give you good knowledge with good objective at the time of necessity. In fact this person is not likely to engage in long term relationship. if you see that this person is already in the relationship then let him go.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In love this tarot card says that with this person love is not possible. It would be better to form business partnership rather than love relationship. Though love relationship is difficult yet you can have faith on this person. This person demands you to be trustworthy and then only this person can be frank with you. If you want romance and long term relationship with this person then it is essential to have detachment as well as respect between you two. In order to keep the relationship going you must follow certain rules and regulations.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : You really value friendship and love with this person and you need to be frank enough. This person does not like any kind of drama. This person likes to be attached with their own leisure activity. It would be better if you do not take the relationship with this person for granted.   If you want to say something to this person then it is the right time for you to say and please do not nag this person. You can lose this person if you continuously nag.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : The love tarot card reading says you to be faithful with this person. In tarot love it is essential to disclose feelings so try reveal true feelings to this partner. This person is such a person who likes to give rather than to receive. You are also very lucky as this person is very much caring and sympathetic. The style and special treatment of this person is very much appealing so you are likely to get attached with this person to be more familiar. In love relationship betrayal may mislead both of you.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In love triangle this person is extremely lucky for you as this person has all the qualities of a good partner. This person will help you to bring out your best quality that lies hidden in yourself so that you can recognise and disclose to other person. In your time of necessity this individual is likely to stand beside you. This person is basically very friendly but at times this person can be harsh and unfriendly if you are not familiar with the inner self of this person. After triumph over all obstacles if you like thrills then you are not matched with this person.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : If you are a free and fun loving person then you are the right place as in the love tarot reading this person is likely to amuse all the time. The tarot card suggests that this person is quite juvenile in love matter. The match with this person can be good as you need to behave like a child and you must look after this person as a care taker. If you like your life to be thrilling and care free then this person will give happiness and will keep on toes to a great extent.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : You are like an award for this person and will like to trap you in love. In order to trap you the person requires to like the excitement. This person is likely to have strong love for you in his heart. The love relation with this person is likely to grow if you need thrill enthusiasm and impulsiveness from the relationship. If you do not like contest then it would better to leave the contest before you lose out.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In love triangle tarot reading this card tells about strength and authority. This could lead to fight for freedom and will power as you do not like to be captured in your life. This person cannot be the devil at all but can play devilish pranks on you. In fact this person is likely to give every pleasure in your life and this is extremely good for you to relief from all kinds of stress.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : If you are in search of a caring and protective lover then this person the right person for yourself. You can completely rely upon this person. Though this person is the right person for you yet this relationship can be a complicated relationship. But if you want to sustain yourself relationship you need to pay for it. This person is likely to guide you in all spheres of life such as love, financial and health matter.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : This person is a marriage oriented person and likes trouble free but lavish life. This person likes all the good things in their life as the person is extremely imaginative. This person likes to obtain material wealth in their life ignoring all important values of life. The tendency of this person to get wealth can bring hindrances in your love life.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In love triangle tarot reading this card suggests to get detachment from this person as this person had entered in your life because of each other's poor decision in life. You need to rely on this person for supervision, help and awareness. If your relationship is healthy with this person then it would be wise to keep such person around you as a friend or as a lover. It is the right time to find the internal power.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : Traditionally the tarot card The Hierophant is also known as the Pope Card and it refers to the wise teacher. In the love tarot this card is a card of love and passion, and it refers to personal wedding and family life. The presence of this card in your life tells you that you are likely to have strong emotional attachment with your true soul mate as well as stability in your relationship. This card tells you that it is the right time to check all those promises that your partner has taken for you. You will have an extremely romantic life with your partner.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : This person is likely to be ruled by the Moon so this person tends to be shrewd and touchy. Though the person is hypersensitive yet the person tends to hide their feelings. Lack of enthusiasm to talk with this person can lead to chaos and conflict in the relationship. If you want to sustain your relationship then it is important to communicate with this person. It would be better not to carry unsettled and past issues in the relationship.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In the love tarot reading this card suggests that this person is likely to take you back and remind you of someone or something that you missed in your life. This card also tells you that you both are made for each other. In order to maintain the relationship faith is necessary not lust. The love between you both is short lived and is likely to disappear if you both do not belong to each other.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : Though the person is nervous and lacking knowledge of their own ability yet this person has strong will power and eagerness to work for you and relationship. Self reliance and output can be paused. This person is extremely talented either in creating an environment or in maintaining the relationship.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : This person is extremely sympathetic and caring about the worries of others. Due to the nature of this person you will always get a shoulder to cry in your hard times. In the love triangle tarot reading you both are better as friends rather than lovers.  In the partnership with this person you need to be strong enough so that you are not forced to talk about your feelings.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : This person tends to be lucky enough for you as it brings luck and good chances in your life. This person is likely to light up your life with brilliant thoughts and imaginations. This person is completely yours and you must have faith in the lucky stars. Though the love relationship is of short lived with this person yet you must value the good times that you spend together.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : The positive energy of this person is likely to flow in your life so that some of your dreams are fulfilled. With the assistance of this person you will not be stuck in the dark. If you feel insecure then boost up your life with self confidence. This person is not likely to get off the spot light for a long time. Due to the transfer of the positive energy of this person you tend to be the successful person for your lover.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In the love triangle this person tends to be the eye opener for you in your life. This person tends to be the storm who is likely to bring lots of enthusiasm in your life. Due to the presence of this person your life is filled with romance that you cannot imagine. Though your life is filled with cyclone of romance yet it is short lived. Feel indifferently in the cyclone of romance and enjoy the ride.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : In the love triangle tarot reading this card suggests that this person wants everything in his life. For this person commitment with the life partner is very much important in their life. Tradition is likely to play the crucial role in their life and this person is likely to pass knowledge to their grand children. The dreams tend to be tremendous if the person is not in good mood. Due to the unfulfilment of this dream there are conflicts and suffering.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>This Person's Characteristic : This person can help you to understand yourself a lot whether it is related to the world, relationships, and human behaviour as well as you can learn many things that you never knew from this person. This person plays an important role in your life either as a lover or as a friend. It would be better to keep the love platonic if intense love is not your priority.</string>
		</dict>
	</array>
	<key>your</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Though in the tarrot card reading, the Death card means demolition but in case of love tarot the death card does not mean destruction. Moreover in case of tarot love the death card indicates end of one relationship or romance at a specific stage and beginning of a new romantic life. Due to the existence of the death card the old and dull relationship is likely to fade away from your life. New and true love may enter in your life. If you are bored with your present love relationship then this card can be an important envoy in your life.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>In the tarot reading, the Hermit symbolises as a hunter of reality and wisdom. But in tarot love reading when the Hermit card is taken out then it means that you need to take a break. In fact this card suggests you that it is the right time to rethink and review about your relationship before you take your relationship as the main concern. If you are committed or if your relationship is idle then due to the presence of this card you might move to the different direction for a moment or you may be in search of truth to rekindle your love life.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>The Judgement card in the tarot reading is mainly connected with the different kinds of decisions in life but in case of tarot love this card frequently tells you about the position of your relationship. The judgement card tells that your upcoming days are brilliant as you are taking the right step towards improvement. The judgement card indicates the vital stage of your relationship. If you are in a committed relationship then you may find your soul mate for whom you were looking so far. This card also represents new beginning of your relationship.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>In tarot reading the concept of the Justice card is connected with karma. In the love tarot card reading the justice card is mainly a card of love and represents that everything around you will be in equilibrium position. With this card you will feel an urge for love in your life and you will make love promises with your partner. This justice card tells you to look at the strong point and flaws of your present relationship. This card also tells you to be decent so that you take the right decisions in order to grow and flourish your relationship.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>The Strength card mainly indicates about the strength of the inner soul in traditional tarot reading. In the love tarot, the strength card indicates the ardent side of yourself. If you are dating then due to the presence of this card you are likely to have strong bond with your partner and also you will have a long lasting relationship. You will have too much self confidence in yourself. If you are singe then it is the high time to mingle. As couples you both will have much care for each other and are likely to progress in love.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>Traditionally the Temperance card is associated with balance or equilibrium in every respect. The temperance card in the tarot love tells you that your relationship requires some concern and joint effort. In order to bring some peace in your relationship you and your partner needs to discover new things. This temperance tarot card tells you that it is the right time to have a purposeful outlook. If you are single then enjoy your life to the fullest or if you are committed then you are likely to break a promise. This card also suggests you that before falling in love with your loved one you need to take more time.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>The Fool card traditionally is an indicator of newness and purity but in case of tarot love reading it is an indicator of new love or relationship. This card suggests you that it is the right time for some changes and take some risks in your life. If you are single or having a crush in your life then express your love and start dating to get mingle. If you are committed then this card suggests you not to take everything very seriously and enjoy the life to the fullest. If you have entered into a new relationship then you must have some fire and excitement in your relationship.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>Commonly the Chariot card represents victory while in the love tarot reading this card represents either a start of a new journey with your partner or your personal aim in life. Due to the presence of this card you are likely to have romantic experiences in life. In love this card could be positive and negative and also it indicates that you must regulate your relationship as well as you need to balance your relationship. In love relationship you will not be interested to have an affair with the person who only wants you in his/her life.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>Traditionally the Devil card is all about selfishness but sometimes in the tarot love it is considered as the most frightening card and also indicates an end of an unhappy relationship. If you are in a committed relationship then due to the presence of this card you are likely to depend on the romantic relationship. It also serves as an envoy. If you are single and in search of a new partner then you are likely to meet your soul mate as this card gives you the signal to enter into the relationship.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>In simple tarot card reading the Emperor card refers to head of the home but in case of love tarrot card reading this card could be a good card for love as it refers to the progress of love relationship. If you are alone then you are likely to find your partner. Though the liking will be one sided but you need to be tolerant and determined. If you are committed then you need steadiness in your relationship. This Emperor card also suggests that it is high time to use to your own sense and experience. Due to this card you may be little more violent in love relationship.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>Commonly the Empress card stands for inventiveness and success while in the love tarot this card is always considered as positive card as it stands for commitment and wedding. In love tarot also this card is a sign of companionship and attachment as this is a high time for love and you will get attracted towards others. If you are alone then you are likely to get your true love. If you are in a serious relationship then you are likely to have unrestricted love and it will be sugary, intense and genuine than ever before. If you face difficulty in your relationship then try to ignite your love relation with your partner. </string>
		</dict>
		<dict>
			<key>Content</key>
			<string>In love tarot The Hanged Man card is hard to understand. This card suggests that you require scared awareness. In case of love if you are alone then you will have a healthy relationship which will give you power physically, emotionally and mentally. You may find your soul mate due to the presence of this card or if you have a broken heart then this card is likely to give you some relief in your life.  Be cautious about impractical hope if you are in a committed and devoted relationship.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>Traditionally the tarot card The Hierophant is also known as the Pope Card and it refers to the wise teacher. In the love tarot this card is a card of love and passion, and it refers to personal wedding and family life. The presence of this card in your life tells you that you are likely to have strong emotional attachment with your true soul mate as well as stability in your relationship. This card tells you that it is the right time to check all those promises that your partner has taken for you. You will have an extremely romantic life with your partner.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>Commonly the High Priestess card is considered as the spiritual card while in the love tarot this card advice you that you need to be tolerant and deliberate before you jump into any new relationship. The card tells you to fall in love and you will be interested to the person who is unfriendly and isolated from others. If you are alone or heartbroken person then this card can a curing card for you. This card is also considered as the fertility card. If you do not have a baby yet then you are likely to get the pleasure of being parents.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>In love tarot The Lovers Card indicates that you are likely to enter in new relationship. This card suggests you to inspect your level of commitment. Due to this card you are likely to have reunion and a successful love relationship but your love relationship may be interrupted by an unknown person. If you are committed then you need to choose between two people. In order to have choice between two people you require more time to take any decision. The presence of this card will make you feel like you have blessed life.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>In tarot card reading this card denotes revelation but in the love tarot it means attraction and alliance. In case of love the Magician has the power to bring you and your mate together as it promises to bring love in your life. You and your mate will have complete trust on each other. If you are alone and in search of a new love in the market then you are likely to find love for yourself. If you are already committed then you relationship will be more intense and deep. This card also suggests you to have a reunion so that you can meet others.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>In the tarot card reading The Moon suggests to discover the power that you have within yourself. While in the case of love tarot reading this card directs you that it is the right time for emotions in your life. Sometimes you are likely to have discord relationship with your partner in your relationship. This card may bring committed relationship and also serve as a pain reliever if you are alone. This card suggest you that not to rush either to begin or end a relationship. This card also suggests you that you must take a break if you require it.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>In the tarot card reading the meaning of The Star is to look at your instinct but in love relationship it is a card of hope and brightness. This card is also considered as the wish card and it is a positive card in love. This card advices you that you are likely to met someone and also you will enter into new love relationship. If you single then met others to mingle. If are in a long term relationship then your relationship will reach to a new level. This card is also as mending card so if you have a bad relationship with other then the relationship could be better between you and your partner.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>Commonly the Sun is a symbol of success, marriages and celebrations while in the love tarot card reading the meaning of the sun is bliss and delight. In case of love tarot the sun is considered as the positive sign. If you are in a long term relationship then you will share joy with your partner. This card also indicates that it is good time to meet with people. If you are alone then you will not remain alone for too long. Everything in your life is likely to go well and you will have a happy future ahead. Due to the presence of this card you are likely to feel calm.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>Traditionally the Tower card is for alteration and in the love tarot reading it means that the relationship is passing through a serious phase and the relationship is likely to end. In your love relationship you are likely to have chaos with your partner. This card can also be an alarming sign which has been ignored previously. Due to the presence of this card there is no hope in the relationship. All your dreams will be broken down. Please do not take any hasty and crucial decision about your relationship.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>In the tarot card reading the World signifies end of journey whereas in the tarot love reading this card indicates peace. For those who are alone this card tells you that you will meet with your special person in life and your life will change. In your devoted love your relationship is likely to reach to new level and you will have quite interesting love life. This card also tells you neither to fear to talk with the unknown people nor to fear to mingle in life. You can also think of taking a break and plan for an exciting trip so that you can start afresh. </string>
		</dict>
		<dict>
			<key>Content</key>
			<string>Generally the Wheel of Fortune indicates positive sign and changes while in the love tarot this card refers to the cycles of your relationship in life. There are chances to encounter with the romance in your life and you will find the true love. You will have positive changes in every sphere of your life due to the presence of this card. Sometimes you will have ups and downs in your life as well.  This card also tells you not to lose faith from yourself as new cycle of life or direction is waiting for you ahead. If you are looking for a relationship then you will mingle very quickly.</string>
		</dict>
	</array>
</dict>
</plist>
